/bitrix
.htaccess
/upload
.access.php
/local/vendor
sitemap*.xml
apple-icon*.png
android-icon*.png
favicon*.png
ms-icon*.png
robots.txt
browserconfig.xml
manifest.json
.ht
*.log
node_modules
.vscode
.idea
.DS_Store
/local/php_interface/vendor
/asdjlfkjasddfs
*.txt
test
local/templates/landing